@import url('//fonts.googleapis.com/css?family=Open+Sans');

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-family: "Open Sans";
  font-size: 16px;
  background: #EEE;
  color: #222;
}

a {
  color: #333;
  text-decoration: none;
}

.temp-app {
  color: black;
  background: #BBB;
  padding: 10px;
}

.template-posts {
}

.template-posts-new {
}

.blog-sidebar {
  width: 20%;
  float: left;
  padding: 10px;
  background: #CCC;
}

.blog-main {
  width: 80%;
  height: auto;
  float: right;
  padding: 10px;
  background: #DDD;
}

.columns:before,
.columns:after {
  content:"";
  display:table;
}
.columns:after {
  clear:both;
}
.columns {
  zoom:1;
  overflow: hidden;
}

.column {
  float: left;
}

.two.columns .column, .column-two {
  width: 50%;
}

.three.columns .column, .column-three {
  width: 33.33333%;
}

.four.columns .column, .column.column-four {
  width: 25%;
}

.five.columns .column, .column.column-five {
  width: 20%;
}
/*  FLASH MESSAGES */
.alert-success {
  padding-bottom: 25px;
  margin: 7px;
  background-color: #dff0d8;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #d6e9c6;
}
.alert-success .alert-type {
  visibility: hidden;
}
.alert-success .alert-content {
  font-weight: bold;
  font-size: 24px;
  color: #3c763d;
}
.alert-info {
  padding-bottom: 25px;
  margin: 7px;
  background-color: #d9edf7;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #bce8f1
}
.alert-info .alert-type {
  visibility: hidden;
}
.alert-info .alert-content {
  font-weight: bold;
  font-size: 24px;
  color: #31708f;
}
.alert-warning {
  padding-bottom: 25px;
  margin: 7px;
  background-color: #fcf8e3;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #faebcc;
}
.alert-warning .alert-type {
  visibility: hidden;
}
.alert-warning .alert-content {
  font-weight: bold;
  font-size: 24px;
  color: #8a6d3b;
}
.alert-danger {
  padding-bottom: 25px;
  margin: 7px;
  background-color: #f2dede;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #ebccd1;
}
.alert-danger .alert-type {
  visibility: hidden;
}
.alert-danger .alert-content {
  font-weight: bold;
  font-size: 24px;
  color: #a94442;
}

textarea {
  background: #EEE;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: 16px;
  margin: 5px;
}

.textarea:focus {
  background: #FFF;
}

.textarea-title {
  rows: 1;
  height: 45px;
  padding-top: 15px;
  padding-bottom: 5px;
  width: 100%;
  font-size: 20px;
  float: left;
}

.textarea-body {
  padding-top: 5px;
  padding-bottom: 15px;
  height: 100px;
}
